################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TP7_GRUPO_12/.vs/TP7_GRUPO_12
/.vs
/TP7_GRUPO_12/TP7_GRUPO_12/.vs
